.animated-line{
  text-align: center;
  padding-top: 100px;
  padding-left: 85px;
  font-family: 'IBM Plex Mono', monospace;
}

/* -----------------------------------------------Animation for first two lines------------------------------------------------------------------------------------ */

.line-1{
    position: relative;
    font-weight: bold;
    top: 80%;
    /* color: #e8751a ; */
    /* color: white; */
    /* color: #ECEA3E; background*/
    /* color: #fcdf03; */
    color: #f2f01f;


    width: 8em;
    /* margin-bottom: 20px; */
    border-right: 0.5px solid rgba(255,255,255,.75);
    font-size: 70px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(15px);
    /* box-shadow: 0 2px 15px rgba(0,0,0,0.2); */
    background-color: inherit;



}
.line-2{
  position:relative;
  top: 50%;
  width: 25em;
  border-right: 0.5px solid rgba(255,255,255,.75);
  font-size: 25px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(25px);
  color: grey;
  /* color: black; */
  /* rgba(255,255,255,.75); */

}


.anim-typewriter-1{
  animation: typewriter-1 1.3s steps(15) 1.3s 1 normal both,
             blinkTextCursor 250ms steps(15) infinite normal;
}
.anim-typewriter-2{
  animation: typewriter-2 1.3s steps(43) 1.3s 1 normal both,
             blinkTextCursor 250ms steps(43) infinite normal;
}

@keyframes typewriter-1{
  from{width: 0;}
  to{width: 8.5em;}
}
@keyframes typewriter-2{
  from{width: 0;}
  to{width: 26em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
