
html {
  /* scroll-behavior: smooth; */
}

.section-head{
    /* color: #28544b; */
    /* color: #081f37; */
    /* color: #05445E; */
    /* color: #6915cf; */
    color: #6807f9;
    font-size: 4rem;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    padding-bottom: 30px;
}
/* --------------------------------------------------NAVBAR--------------------------------------------------- */

#section-1{
  padding-bottom: 250px;
  height: auto;
  background-color: rgb(22,22,22);
  /* background-color: #6915cf; */
  padding-bottom: 500px;
}


.navbar-default.scrolled{
  /* background: rgba(53, 117, 143); */
  background: rgb(240,240,240);
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.2);
}

.navbar-default{
transition:800ms ease;
background-color: rgb(22,22,22);
/* background-color: #6915cf; */
padding-top: 20px;
padding-left:150px;  /* to make it center 200px*/
padding-bottom: 20px;
}

.nav-item{
  padding-left: 40px;
  padding-right: 40px;

}

.nav-item{
  font-family: 'IBM Plex Mono', monospace;
}

.a{
  color: rgba(255,255,255,.75);
  text-decoration: none;

}

.a-bar{
  color: rgba(255,255,255,.75);
  text-decoration: none;
}
.a-bar.scrolled{
  color: black;
}

.a.scrolled{
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.a:hover{
  color: #e8751a;
  font-size: 17.5px;
  transition: 0.3s;
  text-decoration: underline;
  line-height: 0.2;

}
.a.scrolled:hover{
  font-size: 17.5px;
  transition: 0.3s;
  text-decoration: underline;
  line-height: 0.2;
  color: #05445E;

}


/* ----------------------------------------------------------------END OF SECTION 1-------------------------------------------------------------------- */
/* ----------------------------------------------------------------ABOUT ME-------------------------------------------------------------------------- */

#Section-2{
  padding-top: 55px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 200px;
  height: auto;
  background-color: white;
}



.aboutme{
  padding-top: 30px;
  font-family: 'IBM Plex Mono', monospace;
  /* font-weight: 500; */
  /* color: black; */
  color: #3e206d;
  font-size: 18px;

}
/* .abt{background-color: rgba(20, 20, 20, 0.04);
border-radius: 30px;
padding-left: 40px;} */

strong{
  font-size: 19px;
}
.container-1{
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  /* background-color: rgba(20, 20, 20, 0.04); */
  border-radius: 15px;
  /* box-shadow: 0 1px 2px rgba(0,0,0,0.15); */

}

.dp{
  border-radius: 100%;
  height: 400px;
  width: 400px;
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}

/* ----------------------------------------------------------------Resume---------------------------------------------------------------------------------------- */

#Section-3{
  padding-top: 55px;
  padding-left: 85px;
  height: 1100px;
  background: white;
  padding-right: 85px;
}

.download{
  color: grey;
  opacity: 0.5;

}

.download:hover{
  color: grey;
  opacity: 1;
  text-decoration: underline;
  transition: 0.3s;
  drop
}

.sub-head{
  font-size: 2.65rem;
  /* color: #189AB4; */
  color: #9852f9;
  padding-top: 10px;
}

.sub-section{
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  font-family: 'IBM Plex Mono', monospace;
  background-color: rgba(20, 20, 20, 0.04);
  border-radius: 15px;
}
.prog-name{
  font-size: 22px;
}
.about-course{
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  font-size: 17px;
}

.sub-section-2{
  padding-left: 20px;
}

.skill{
  padding-top: 10px;
  margin-bottom: 10px;
}

.skill-name{
  margin-bottom: -2px;
  font-weight: bold;
}
.progress,                          /* Firefox  */
.progress[role][aria-valuenow] {    /* Polyfill */
	background: rgba(22, 22, 22, 0.1); !important; /* !important is needed by the polyfill */
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

/* Chrome */
progress::-webkit-progress-bar {
	background: rgba(22, 22, 22, 0.1); !important;
}
.progress-bar {

    /* background-color: #23425f; */
    /* background-color: #c299fc; */
    background-color: #3e206d;

}


/* ----------------------------------------------------------------END OF SECTION 3---------------------------------------------------------------------------------------- */

#Section-4{
  padding-top: 55px;
  padding-left: 85px;
  padding-right: 60px;
  height: 1100px;
  background-color: white;
}

/* Rest of CSS Styles for this section is in projects.css file */

/* ----------------------------------------------------------------END OF SECTION 4---------------------------------------------------------------------------------------- */

#Section-5{
  padding-top: 55px;
  padding-left: 85px;
  padding-right: 60px;
  height: 600px;
}

.contact-head{
  color: #6807f9;
  font-size: 4rem;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  padding-bottom: 5px;

}



.contact{
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 20px;
  text-align: justify;
  font-size: 30px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  color: #3e206d;
}

.seperator{
  border-width:2px;
  background: rgba(62,32,109,0.4);
}
.social-media{
  padding-top: 10px;
  text-align: center;
}

.icon{
  height: 50px;
  width: 50px;
  margin-right: 35px;
  border-radius: 50%;

}

.icon:hover{
  transition: 0.2s;
  height: 80px;
  width: 80px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);

}

.icon-sq{
  height: 50px;
  width: 50px;
  margin-right: 35px;
  border-radius: 16px;
}
.icon-sq:hover{
  height: 80px;
  width: 80px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border-radius: 23px;
  transition: 0.2s;
}

/* ----------------------------------------------------------------END OF SECTION 5---------------------------------------------------------------------------------------- */






/* ----------------------------------------------------------------Custom ScrollBar---------------------------------------------------------------------------------------- */


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 30px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 7px;
	/* background-color: #F5F5F5; */
  background-color: rgba(0,0,0,.3);
}

::-webkit-scrollbar-thumb
{
	border-radius: 30px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #081f37;
  transition: smooth 3s;

}
